In [4]:
from shapely.geometry import Point, Polygon

In [77]:
import pandas as pd

In [95]:
cat 22.csv

3;55.234578;36.295745

In [114]:
f1 = pd.read_csv('22.csv',sep=';',header=0) 
f1

   user_id    loc_lat    loc_lon
0        1  55.737564  37.345186
1        2  56.234564  37.234590
2        3  55.234578  36.295745

In [238]:
#все таки добавлю точку внутри полигона, чтобы посмотреть, что все работает
f1=f1.append({"user_id": 4, "loc_lat": 55.751352, "loc_lon": 37.781314},ignore_index=True)

In [186]:
f2 = pd.read_csv('33.csv',sep=';',header=0)
f2

   place_id    loc_lat    loc_lon  point_number
0         1  55.747022  37.787073             0
1         1  55.751713  37.784328             1
2         1  55.753878  37.777638             2
3         1  55.751031  37.779351             3
4         2  55.803885  37.458311             0
5         2  55.808677  37.464054             1
6         2  55.809763  37.461314             2
7         2  55.810840  37.458654             3

In [121]:
p11 = Point(f2.loc_lat[0],f2.loc_lon[0])

In [100]:
def inside(p,poly):
    return p.within(poly)

In [176]:
s = {}
def coord_poly(place_id):
    coords = []
    for i in range(0,4):
        a=(f2.loc_lat[i],f2.loc_lon[i])
        coords.append(a)
    poly = Polygon(coords)
    s[place_id] = poly

In [177]:
def coord_point(user_id):
    i =user_id
    p = Point(f1.loc_lat[i-1],f1.loc_lon[i-1])
    return p

In [178]:
coord_Poly(1)

In [179]:
coord_Poly(2)

In [188]:
f2[f2.place_id == 1]

   place_id    loc_lat    loc_lon  point_number
0         1  55.747022  37.787073             0
1         1  55.751713  37.784328             1
2         1  55.753878  37.777638             2
3         1  55.751031  37.779351             3

In [236]:
for i in range (1,5):
    print("user_id=",i)
    for j in range (1,3):
        coord_Poly(j)
        f2.place_id = j
        cnt = 0
        if inside(coord_point(i),s[j]) == True : cnt+=1
    print("Availible:",cnt)

user_id= 1
Availible: 0
user_id= 2
Availible: 0
user_id= 3
Availible: 0
user_id= 4
Availible: 1

In [237]:
f2.loc_lat[0]

55.747021999999994

In [239]:
import numpy as np

In [247]:
a = [1, 2, 3, 4, 5, 6]
np.mean(a)

3.5

In [249]:
b=[4,5,6]
np.mean(b)

5.0

Логика будет такой, если выпало 4, 5, 6, то перебрасывать невыгодно. Мат. ожидание - это вероятность на исход. 

Веростность что мы перебросим = $\frac{3}{6}$ , исход = $\frac{1+2+3+4+5+6}{6} = 3.5$

Веростность что мы НЕ перебросим = $\frac{3}{6}$ , исход = $\frac{4+5+6}{3} = 5.0$

M_2 = $\frac{3}{6}*3.5+\frac{3}{6}*5.0= 4.25$

In [250]:
0.5*3.5+0.5*5

4.25

In [252]:
4/6*3.5+5.5*2/6  #если перебрасывать 5,6

4.166666666666666

1st```
       SELECT  (count(CASE WHEN promocode_id IS NOT NULL THEN 1 END)/count(*)*100) as "Доля без промокодов"
FROM `Yandex.Eda`.orders LEFT JOIN promocodes
ON orders.promocode_id = promocodes.id
```

2nd```
SELECT disc, n  FROM(
	SELECT name AS n, SUM(discount) AS disc
	FROM `Yandex.Eda`.orders LEFT JOIN promocodes
	ON orders.promocode_id = promocodes.id
	WHERE orders.promocode_id IS NOT NULL
	GROUP by name) AS e
    GROUP by n
    Order BY MAX(disc) DESC
LIMIT 1
```

table orders

|id|promocode_id|
|----|------|
| 1  | 1    |
| 2  | 2    |
| 3  | 3    |
| 4  | 3    |
| 5  | 3    |
| 6  | 1    |
| 7  | 2    |
| 8  | 1    |
| 9  | null |
| 10 | null |
| 11 | null |
| 12 | null |
| 13 | null |

table promocodes

| id | name | discount |
|----|------|----------|
| 1  | s    | 200      |
| 2  | m    | 300      |
| 3  | l    | 400      |